
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background:#eef6ff;
}

/* NAVBAR */
header{
    background:#005bbb;
    padding:20px 50px;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

header h2{
    font-size:28px;
}

nav a{
    margin-left:25px;
    text-decoration:none;
    color:white;
    font-size:17px;
}

/* PAGE TITLES */
.page-title{
    font-size:35px;
    text-align:center;
    margin-top:40px;
    color:#003f7d;
}

/* HERO SECTION */
.hero{
    height:80vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                url('https://images.unsplash.com/photo-1520975938319-32566cbb0b7b?auto=format&fit=crop&w=1600&q=80');
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    width:70%;
    margin:auto;
    font-size:20px;
}

.hero button{
    margin-top:30px;
    background:#005bbb;
    padding:15px 30px;
    border:none;
    border-radius:10px;
    color:white;
    cursor:pointer;
    font-size:18px;
}

/* CHAT */
.chat-container{
    width:60%;
    margin:auto;
    margin-top:40px;
}

.chat-box{
    height:400px;
    overflow-y:auto;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}

.msg{
    padding:10px 15px;
    margin-top:10px;
    border-radius:8px;
    max-width:80%;
}

.user{
    background:#005bbb;
    color:white;
    margin-left:auto;
}

.bot{
    background:#d4e9ff;
    color:#003f7d;
    margin-right:auto;
}

.chat-input{
    margin-top:20px;
    display:flex;
}

.chat-input input{
    width:85%;
    padding:15px;
    border:2px solid #005bbb;
    border-radius:8px;
    font-size:17px;
}

.chat-input button{
    width:15%;
    margin-left:10px;
    background:#005bbb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}

/* MOTIVATION */
.quote-box{
    width:60%;
    margin:auto;
    margin-top:40px;
    padding:30px;
    background:white;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
    font-size:22px;
    text-align:center;
    color:#003f7d;
}

.new-quote-btn{
    margin-top:25px;
    background:#005bbb;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    color:white;
    cursor:pointer;
    font-size:18px;
}

/* ABOUT PAGE */
.about-section{
    width:70%;
    margin:auto;
    margin-top:50px;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
    font-size:18px;
    line-height:1.7;
    color:#003f7d;
}

footer{
    background:#003f7d;
    padding:20px;
    color:white;
    text-align:center;
    margin-top:40px;
}
